package pages

import (
	"github.com/jgndev/jgn.dev/internal/views/shared"
	"github.com/jgndev/jgn.dev/internal/views/lockups"
)

templ TimeBot() {
	@shared.Base("Time Bot") {
		@lockups.TimeBot()
	}
}
