package lockups

import "github.com/jgndev/jgn.dev/internal/views/icons"

templ Languages() {
<div class="">
  <h2 class="uppercase text-xl">Programming Languages:</h2>
  <div class="flex items-center space-x-4">
    @icons.Go()
    @icons.C()
    @icons.Cpp()
    @icons.Shell()
  </div>
</div>
}
