package lockups

import "github.com/jgndev/jgn.dev/internal/views/icons"

templ Os() {
	<div class="">
		<h2 class="text-xl">Operating Systems:</h2>
		<div class="brand-block">
			@icons.Ubuntu()
			@icons.Rhel()
			@icons.Macos()
			@icons.Microsoft()
		</div>
	</div>
}
