package lockups

templ Skills() {
	<div class="my-4">
		<h2 class="font-bold text-2xl">Skills</h2>
	</div>
	<!-- Languages -->
	@Languages()
	<!-- Tools -->
	@Tools()
	<!-- Operating Systems -->
	@Os()
}
