package lockups

import "github.com/jgndev/jgn.dev/internal/views/icons"

templ Tools() {
	<div class="">
		<h2 class="uppercase text-xl">Tools of the Trade:</h2>
		<div class="flex items-center space-x-4">
			@icons.Git()
			@icons.GitHub()
			@icons.Docker()
			@icons.Kubernetes()
			@icons.Terraform()
			@icons.Aws()
			@icons.Neovim()
		</div>
	</div>
}
